.registerContainer {
  width: 40%;
}

.color {
  color: white;
}
.image {
  background: url('../../components/shared/pics/tom-barrett-hgGplX3PFBg-unsplash.jpg')
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
